# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
android/
ios/
*.keystore
*.jks
*.p8
*.p12

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# Env / secrets
.env
.env.*
app.config.local.*
